body {
  margin: 0;
}
.toolbar {
  background-image: url("../image/toolbar-background.png");
  background-size: cover;
  color: #fff;
  padding: 10px;
}

.main-logo {
  padding-left: 10px;
  font-size: 25px;
}

.spacer {
  flex: 1;
}

.flexbox {
  display: flexbox;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.toolbar-menu li {
  margin: 0 10px;
}

.toolbar-menu a {
  text-decoration: none;
}
input[type=text],textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=reset] {
  background-color: #bb2f16;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}
input[type=reset]:hover {
  background-color: #b32020;
}
/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
