/* body - toolbar - footer*/
/*< Name: Bandar Habib | ID: 2036359 | Section: CS1 | Date: 18/10/2023 
<Name: Abdulaziz Alghamdi | ID: 2035244 | Section: CS1 | Date: 18/10/2023 */
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel&family=Kalam:wght@300&family=Tilt+Neon&display=swap");

body {
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  background-image: url("../image/background1.jpg");
  color: black;
}

footer {
  font-family: "Tilt Neon", sans-serif;
  color: #ccc;
  background-image: url("../image/footer-background.jpg");
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.toolbar {
  font-family: "Tilt Neon", sans-serif;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Corrected width value */
  color: rgb(197, 195, 193);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow with a little transparency */
}

.main-logo {
  padding-left: 10px;
  font-size: 25px;
}

.spacer {
  flex: 1;
}

.flexbox {
  display: flexbox;
}

.toolbar-menu {
  list-style: none;
  display: flex;
  padding-right: 20px;
}

li a {
  color: #000;
}

.toolbar-menu li {
  margin: 0 10px;
}

.toolbar-menu a {
  text-decoration: none;
}
/* Landing page styling */

.container-index {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 60px;
  padding-inline: 120px;
}

.content-main {
  font-family: "Caveat", cursive, sans-serif;
  text-align: center;
  width: 90%;
  height: 90%;
}

.content-main p {
  font-size: 20px;
}

.content-main img {
  border-radius: 20px;
}

button {
  font-family: "Foldit", sans-serif;
  background-color: aqua;
  padding: 10px 20px;
  border-radius: 20px;
}

.idea-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.idea-box hr {
  color: #000;
  border-style: solid;
  width: 30%;
}
/* Contact page styling*/

input[type="text"],
textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical; 
  color: #912525;
}
/* Style the button with a specific background color etc */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="reset"] {
  background-color: #bb2f16;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* When moving the mouse over the button, change color */
input[type="submit"]:hover {
  background-color: #45a049;
}
input[type="reset"]:hover {
  background-color: #b32020;
}
/* Add a background color and some padding around the form */

.container {
  margin: 40px;
}

.content {
  margin-bottom: 40px;
  margin-left: 25px;
}

h2 {
  font-size: 24px;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Create Plan */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-block: 50px;
}

.card {
  width: 250px;
  background-image: url("../image/card-background.jpg");
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-position: center;
  color: #ccc;
}

.card-section {
  text-align: center;
  margin: 10px;
  font-family: "Tilt Neon", sans-serif;
  font-size: 16px;
}

.card-section h2 {
  font-family: "Caveat", cursive, sans-serif;
}

img {
  max-width: 100%;
  max-height: 150px;
  border-radius: 20px;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

p {
  margin: 0;
}

.info-section p {
  font-size: 14px;
  border: 1px solid;
  border-radius: 15px;
  padding: 2px;
  padding-inline: 6px;
}

.info-section {
  display: flex;
  justify-content: space-around;
  border: 1px none #ddd;
  padding: 5px;
  text-align: center;
}
